USE [master]
GO
/****** Object:  Database [ProjectRMS]    Script Date: 8/20/2021 9:20:33 PM ******/
CREATE DATABASE [ProjectRMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectRMS', FILENAME = N'D:\6th Semester\OOP2\Final class\PROJECT(ORMS)    DATABASE\ProjectRMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectRMS_log', FILENAME = N'D:\6th Semester\OOP2\Final class\PROJECT(ORMS)    DATABASE\ProjectRMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectRMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectRMS]
GO
/****** Object:  Table [dbo].[BOOKING_INFO]    Script Date: 8/20/2021 9:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING_INFO](
	[BOOKING_NO] [int] IDENTITY(1001,1) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](50) NOT NULL,
	[TABLE_NO] [nvarchar](50) NOT NULL,
	[TIME] [nvarchar](50) NOT NULL,
	[DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_BOOKING_INFO] PRIMARY KEY CLUSTERED 
(
	[BOOKING_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_TABLE]    Script Date: 8/20/2021 9:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_TABLE](
	[NUMBER] [int] IDENTITY(1001,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](50) NOT NULL,
	[GENDER] [nvarchar](50) NOT NULL,
	[DOB] [datetime] NOT NULL,
 CONSTRAINT [PK_CUSTOMER_TABLE] PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 8/20/2021 9:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[ITEM_NO] [int] IDENTITY(1101,2) NOT NULL,
	[ITEM_NAME] [nvarchar](50) NOT NULL,
	[CATACORY] [nvarchar](50) NOT NULL,
	[PRICE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[ITEM_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_TABLE]    Script Date: 8/20/2021 9:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_TABLE](
	[ID] [int] IDENTITY(2000,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](50) NOT NULL,
	[GENDER] [nvarchar](50) NOT NULL,
	[POSITION] [nvarchar](50) NULL,
	[JD] [datetime] NULL,
 CONSTRAINT [PK_STAFF_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLE_INFO]    Script Date: 8/20/2021 9:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLE_INFO](
	[NO] [int] IDENTITY(1001,1) NOT NULL,
	[TABLE_NO] [nvarchar](50) NOT NULL,
	[FREE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TABLE_INFO] PRIMARY KEY CLUSTERED 
(
	[NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tt]    Script Date: 8/20/2021 9:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tt](
	[TABLE_NO] [int] IDENTITY(1,1) NOT NULL,
	[TABLE_FREE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TABLE] PRIMARY KEY CLUSTERED 
(
	[TABLE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BOOKING_INFO] ON 

INSERT [dbo].[BOOKING_INFO] ([BOOKING_NO], [CUSTOMER_NAME], [TABLE_NO], [TIME], [DATE]) VALUES (1001, N'RAIYAN AHMED', N'02', N'2-3', CAST(N'2021-08-21T00:00:00.000' AS DateTime))
INSERT [dbo].[BOOKING_INFO] ([BOOKING_NO], [CUSTOMER_NAME], [TABLE_NO], [TIME], [DATE]) VALUES (1002, N'NAZIA MOSREBA', N'06', N'12-1', CAST(N'2021-09-01T00:00:00.000' AS DateTime))
INSERT [dbo].[BOOKING_INFO] ([BOOKING_NO], [CUSTOMER_NAME], [TABLE_NO], [TIME], [DATE]) VALUES (1003, N'SAHEL RANA', N'04', N'5-6', CAST(N'2021-08-26T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BOOKING_INFO] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER_TABLE] ON 

INSERT [dbo].[CUSTOMER_TABLE] ([NUMBER], [NAME], [USERNAME], [PASSWORD], [EMAIL], [ADDRESS], [GENDER], [DOB]) VALUES (1001, N'RAIYAN AHMED', N'RAIYAN', N'1234', N'raiyan.aiub@gmail.com', N'CUMILLA', N'MALE', CAST(N'1999-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[CUSTOMER_TABLE] ([NUMBER], [NAME], [USERNAME], [PASSWORD], [EMAIL], [ADDRESS], [GENDER], [DOB]) VALUES (1002, N'NAZIA MOSREBA', N'NAZIA', N'4321', N'nazia.aiub@gmail.com', N'DHAKA', N'FEMALE', CAST(N'2006-10-12T00:00:00.000' AS DateTime))
INSERT [dbo].[CUSTOMER_TABLE] ([NUMBER], [NAME], [USERNAME], [PASSWORD], [EMAIL], [ADDRESS], [GENDER], [DOB]) VALUES (1003, N'NILUFA YEASMIN', N'NILUFA', N'1357', N'nilufa@gmail.com', N'DAUDKANDI', N'FEMALE', CAST(N'1975-02-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CUSTOMER_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[MENU] ON 

INSERT [dbo].[MENU] ([ITEM_NO], [ITEM_NAME], [CATACORY], [PRICE]) VALUES (1101, N' COCACOLA', N'SOFT DRINK', N' 50')
INSERT [dbo].[MENU] ([ITEM_NO], [ITEM_NAME], [CATACORY], [PRICE]) VALUES (1103, N'SEVEN UP', N'SOFT DRINK', N'50')
INSERT [dbo].[MENU] ([ITEM_NO], [ITEM_NAME], [CATACORY], [PRICE]) VALUES (1105, N'DEW', N'SOFT DRINK', N'50')
SET IDENTITY_INSERT [dbo].[MENU] OFF
GO
SET IDENTITY_INSERT [dbo].[STAFF_TABLE] ON 

INSERT [dbo].[STAFF_TABLE] ([ID], [NAME], [USERNAME], [PASSWORD], [EMAIL], [ADDRESS], [GENDER], [POSITION], [JD]) VALUES (2000, N'ABDULLA MAMUN', N'ABDULLA', N'5678', N'abdulla@gmail.com', N'DHAKA', N'MALE', N'CHEF', CAST(N'2020-09-14T00:00:00.000' AS DateTime))
INSERT [dbo].[STAFF_TABLE] ([ID], [NAME], [USERNAME], [PASSWORD], [EMAIL], [ADDRESS], [GENDER], [POSITION], [JD]) VALUES (2002, N'MD HASAN KABIR', N'KABIR', N'1010', N'kabir@gmail.com', N'DHAKA', N'MALE', N'MANAGER', CAST(N'2020-09-14T00:00:00.000' AS DateTime))
INSERT [dbo].[STAFF_TABLE] ([ID], [NAME], [USERNAME], [PASSWORD], [EMAIL], [ADDRESS], [GENDER], [POSITION], [JD]) VALUES (2003, N'BABUL AHMED', N'BABUL', N'1111', N'babul@gmail.com', N'RAJSHAHI', N'MALE', N'CLEANER', CAST(N'2020-09-14T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[STAFF_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[TABLE_INFO] ON 

INSERT [dbo].[TABLE_INFO] ([NO], [TABLE_NO], [FREE]) VALUES (1001, N'01', N' YES ')
INSERT [dbo].[TABLE_INFO] ([NO], [TABLE_NO], [FREE]) VALUES (1002, N'02', N' YES ')
INSERT [dbo].[TABLE_INFO] ([NO], [TABLE_NO], [FREE]) VALUES (1003, N'03', N' YES ')
SET IDENTITY_INSERT [dbo].[TABLE_INFO] OFF
GO
SET IDENTITY_INSERT [dbo].[tt] ON 

INSERT [dbo].[tt] ([TABLE_NO], [TABLE_FREE]) VALUES (1, N'YES')
INSERT [dbo].[tt] ([TABLE_NO], [TABLE_FREE]) VALUES (2, N'YES')
INSERT [dbo].[tt] ([TABLE_NO], [TABLE_FREE]) VALUES (3, N'YES')
SET IDENTITY_INSERT [dbo].[tt] OFF
GO
USE [master]
GO
